

.title{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    /* -webkit-text-stroke: 1px #fff; */
    color: transparent;
    background-image: linear-gradient(#fff,#fff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -750px 0;
    animation: backcolor 5s linear infinite alternate;
  }
.title1{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    /* -webkit-text-stroke: 1px #fff; */
    color: transparent;
    background-image: linear-gradient(#fff,#fff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -750px 0;
    animation: backcolor 5s linear infinite alternate;
  }
@keyframes backcolor{
100%{
    background-position: 0 0;
}
}
@keyframes backcolor{
100%{
    background-position: 0 0;
}
}

@media (width < 900px) {
  .title{
    font-size: 45px;
    /* -webkit-text-stroke: 1px #fff; */
    
   }
  .title1{
    
    font-size: 45px;
   }
}

    
  
@media (width < 650px) {
    .title{
    font-size: 25px;
    /* -webkit-text-stroke: 1px #fff; */
    
    }
    .title1{
    
    font-size: 25px;
    }
    }

    .nav__logo {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    
    .nav__logo img {
      max-width: 75px;
    }
    
    .nav__logo span {
      font-size: 3rem;
      font-family: "poppins";
      font-weight: 500;
      color: var(--white);
      
    }















.container{
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left{
  width: 70%;
  height: 600px;
  background: url("images/tour1.jpg") no-repeat center / cover;
  border-radius: 8px;
}
.right{
  width: 50%;
  min-height: 400px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: black;
  margin-left: -150px;
}
.right h1{
  font-size: 40px;
  color:#449342;
}

.right p{
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
  font-size: 20px;
}

.right a{
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;
}
.right .btn1{
  display: inline-block;
  border-radius: 5rem;
  background: var(--primary-color);
  color: var(--white);
  box-shadow: var(--box-shadow);
  padding: .9rem 3rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
  font-size: 1.7rem;
  margin-top: 1rem;
}


.right .btn1::before{
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 0%;
  background: #5f8f25;
  z-index: -1;
  left: 0;
  transition: .3s linear;
}

.right .btn1:hover::before{
  width: 100%;
}

@media only screen and (max-width:768px){
  .container{
    flex-direction: column;
    width: 80%;
    margin: 0 20px;
  }
  .left{
    width: 100%;
    height: 400px;
  }
  .right{
    width: 80%;
    margin: 0;
    margin-top: -100px;
  }
}
