

.title{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    /* -webkit-text-stroke: 1px #fff; */
    color: transparent;
    background-image: linear-gradient(#fff,#fff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -750px 0;
    animation: backcolor 5s linear infinite alternate;
  }
.title1{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    /* -webkit-text-stroke: 1px #fff; */
    color: transparent;
    background-image: linear-gradient(#fff,#fff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -750px 0;
    animation: backcolor 5s linear infinite alternate;
  }
@keyframes backcolor{
100%{
    background-position: 0 0;
}
}
@keyframes backcolor{
100%{
    background-position: 0 0;
}
}

@media (width < 900px) {
  .title{
    font-size: 45px;
    /* -webkit-text-stroke: 1px #fff; */
    
   }
  .title1{
    
    font-size: 45px;
   }
}

    
  
@media (width < 650px) {
    .title{
    font-size: 25px;
    /* -webkit-text-stroke: 1px #fff; */
    
    }
    .title1{
    
    font-size: 25px;
    }
    }

    .nav__logo {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    
    .nav__logo img {
      max-width: 75px;
    }
    
    .nav__logo span {
      font-size: 3rem;
      font-family: "poppins";
      font-weight: 500;
      color: var(--white);
      
    }
